# Data Analysis with Pandas
- Data set : Video Game Sales 
- Author : Noor Omari

In [ ]:
import pandas as pd

In [13]:
df = pd.read_csv('./vgsales.csv')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

## 1. Which company is the most common video game publisher?¶

In [14]:
most_common_video_game_publisher = df["Publisher"].value_counts().idxmax()
most_common_video_game_publisher

'Electronic Arts'

## 2. What’s the most common platform?

In [15]:
most_common_platform = df["Platform"].value_counts().idxmax()
most_common_platform

'DS'

## 3. What about the most common genre?

In [16]:
most_common_genre = df["Genre"].value_counts().idxmax()
most_common_genre

'Action'

## 4. What are the top 20 highest grossing games?

In [17]:
df_highest=df.copy()
highest_grossing_games=df_highest.sort_values('Rank').head(20)
highest_grossing_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

## 5. For North American video game sales, what’s the median?
Provide a secondary output showing ten games surrounding the median sales output

In [18]:
NA_med=df['NA_Sales'].median()
print('median',NA_med)
median_sales = df[df['NA_Sales']==NA_med].head(10)

median 0.08

## 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [19]:
top_selling_game=df.copy()
top_Game=top_selling_game.head(1)
x=top_Game["NA_Sales"]
y=top_selling_game["NA_Sales"].mean()
std_1=top_selling_game['NA_Sales'].std()
z=(x-y)/std_1
z

0    50.478988
Name: NA_Sales, dtype: float64

## 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [20]:
df_copy=df.copy()
pub_1=df_copy[(df_copy["Platform"]=='Wii')]
pub_2=df_copy[(df_copy["Platform"]!='Wii')]
result=(pub_2["Global_Sales"].mean(),pub_1["Global_Sales"].mean())
result

(0.5233896418516336, 0.6994037735849057)

## Test:

In [22]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_video_game_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median_sales.iloc[0].Name, 'Dragon Warrior IV')
    assert_equal(result, (0.5233896418516336, 0.6994037735849057))

    print("Success!!!")

test()

Success!!!

## 3 more questions:
1. The average of Global Sales

In [25]:
Avg=df["NA_Sales"].mean()
Avg

0.26466742981082064

2. Top 5 Rank in 1997

In [27]:
top5 = df[df["Year"]==1997].sort_values("Rank").head(5)
top5.Name

52                               Gran Turismo
66                          Final Fantasy VII
84                              GoldenEye 007
95     Crash Bandicoot 2: Cortex Strikes Back
178                            Tomb Raider II
Name: Name, dtype: object

3. Highest Ranked Racing game in all years

In [28]:
most_common_Genre = df[df["Genre"]=='Racing'].sort_values("Rank").head(1)
most_common_Genre.Name

2    Mario Kart Wii
Name: Name, dtype: object